<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<real>0</real>
		<key>extension</key>
		<string></string>
		<key>isDownloaded</key>
		<false/>
		<key>url</key>
		<string>id=93d64af9-d43e-4d83-8786-f20d7c78fe17</string>
		<key>path</key>
		<string></string>
		<key>name</key>
		<string>Policy</string>
	</dict>
	<dict>
		<key>time</key>
		<real>0</real>
		<key>extension</key>
		<string></string>
		<key>isDownloaded</key>
		<false/>
		<key>url</key>
		<string>id=93ac5b8a-69c1-44cd-803d-81701176ba3e</string>
		<key>path</key>
		<string></string>
		<key>name</key>
		<string>WWDC</string>
	</dict>
	<dict>
		<key>time</key>
		<real>0</real>
		<key>extension</key>
		<string></string>
		<key>isDownloaded</key>
		<false/>
		<key>url</key>
		<string>id=23d93642-0b6c-40fd-9ca2-d4b5d3a930c8</string>
		<key>path</key>
		<string></string>
		<key>name</key>
		<string>Keyboard</string>
	</dict>
	<dict>
		<key>time</key>
		<real>0</real>
		<key>extension</key>
		<string></string>
		<key>isDownloaded</key>
		<false/>
		<key>url</key>
		<string>id=fd7b185a-58e7-4e1f-9870-654736d9fa2d</string>
		<key>path</key>
		<string></string>
		<key>name</key>
		<string>Dummy</string>
	</dict>
	<dict>
		<key>time</key>
		<real>0</real>
		<key>extension</key>
		<string></string>
		<key>isDownloaded</key>
		<false/>
		<key>url</key>
		<string>id=eeda377a-aecb-4a22-8180-4214f5983967</string>
		<key>path</key>
		<string></string>
		<key>name</key>
		<string>Dummy2</string>
	</dict>
	<dict>
		<key>time</key>
		<real>0</real>
		<key>extension</key>
		<string></string>
		<key>isDownloaded</key>
		<false/>
		<key>url</key>
		<string>id=462688db-ad8d-405d-a823-bb9824a2c912&quot;</string>
		<key>path</key>
		<string></string>
		<key>name</key>
		<string>Apple</string>
	</dict>
</array>
</plist>
